<div class="login">
  <h1 class="text-center">登入</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= flash_messages %>
      <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "帳號" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "密碼" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>在這台電腦上記住我</span>
      <% end %>

      <%= f.submit "登入", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

  var nav = $('#navbar');
  var footer = $('footer');
  $('#main_content').css('min-height', $(window).outerHeight() - footer.outerHeight());
  $('#main_content').css('padding-top',nav.outerHeight() + $(window).outerHeight()*0.15);
});

$(window).on('resize', function(){

  var nav = $('#navbar');
  var footer = $('footer');
  $('#main_content').css('min-height', $(window).outerHeight() - footer.outerHeight());
  $('#main_content').css('padding-top',nav.outerHeight() + $(window).outerHeight()*0.15);
  //console.log("nav.outerHeight:" + nav.outerHeight());
  //console.log("window.outerHeight:" + $(window).outerHeight());
});
</script>