<div class="col-sm-3" id="records_sidebar">
	<!-- Left column -->
	<strong><i class="glyphicon glyphicon-wrench"></i> 成績紀錄</strong>

	<hr>

	<ul class="nav nav-stacked">
		<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">一般查詢 <i class="glyphicon glyphicon-chevron-right"></i></a>
			<ul class="nav nav-stacked collapse in" id="userMenu">
				<li><%= link_to "　#{fa_icon "newspaper-o 1x", class:"icon_sidebar"} 球賽查詢".html_safe, {controller: "records", action: "game"} %></li>
				<li><%= link_to "　<i class='glyphicon glyphicon-fire icon_sidebar'></i> 打擊查詢".html_safe, {controller: "records", action: "batting"} %></li>
				<li><%= link_to "　#{fa_icon "fire-extinguisher 1x", class:"icon_sidebar"} 投球查詢".html_safe, {controller: "records", action: "pitching"} %></li>
				<li><%= link_to "　#{fa_icon "shield 1x", class:"icon_sidebar"} 守備查詢".html_safe, {controller: "records", action: "fielding"} %></li>
				<li><%= link_to "　#{fa_icon "bolt 1x", class:"icon_sidebar"} 對戰成績查詢".html_safe, {controller: "records", action: "team"} %></li>
				<li><%= link_to "　#{fa_icon "user 1x", class:"icon_sidebar"} 隊員查詢".html_safe, {controller: "records", action: "player"} %></li>
				<li><%= link_to "　#{fa_icon "users 1x", class:"icon_sidebar"} 其他球員查詢".html_safe, {controller: "records", action: "inactive_player"} %></li>
				<li><%= link_to "　#{fa_icon "trophy 1x", class:"icon_sidebar"} 年度攻守排行".html_safe, {controller: "records", action: "king"} %></li>
			</ul>
		</li>
		
		<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"> 盃賽查詢 <i class="glyphicon glyphicon-chevron-right"></i></a>
			<ul class="nav nav-stacked collapse" id="menu2">
				<% @thisyear = (Time.now.month >= 9)?(Time.now.year):(Time.now.year - 1) %>
				<li><%= link_to "　#{fa_icon "calendar 1x", class:"icon_sidebar"} 新生盃(".html_safe + (@thisyear - 1911).to_s + "年度)", {controller: "records", action: "cup", year: @thisyear, cup: '新生盃'} %></li>
				</li>
				<li><%= link_to "　#{fa_icon "calendar 1x", class:"icon_sidebar"} 聯盟賽(".html_safe + (@thisyear - 1911).to_s + "年度)", {controller: "records", action: "cup", year: @thisyear, cup: '台大聯盟'} %></li>
				</li>
				<li><%= link_to "　#{fa_icon "calendar 1x", class:"icon_sidebar"} 正式賽(".html_safe + (@thisyear - 1911).to_s + "年度)", {controller: "records", action: "cup", year: @thisyear, cup: '正式賽'} %></li>
				</li>
				<li><%= link_to "　#{fa_icon "calendar 1x", class:"icon_sidebar"} 友誼賽(".html_safe + (@thisyear - 1911).to_s + "年度)", {controller: "records", action: "cup", year: @thisyear, cup: '友誼賽'} %></li>
				</li>
				<li><%= link_to "　#{fa_icon "calendar-o 1x", class:"icon_sidebar"} 所有盃賽查詢".html_safe, {controller: "records", action: "cup"} %></li>
				</li>
			</ul>
		</li>
		
		<li class="nav-header">
			<a href="#" data-toggle="collapse" data-target="#menu3"> 進階分析 <i class="glyphicon glyphicon-chevron-right"></i></a>
			<ul class="nav nav-stacked collapse" id="menu3">
				<!--
				<li><a href=""><i class="glyphicon glyphicon-circle"></i> 打擊表現分布</a></li>
				<li><a href=""><i class="glyphicon glyphicon-circle"></i> 整體守備</a></li>
				<li><a href=""><i class="glyphicon glyphicon-circle"></i> 近期表現</a></li>
				-->
				<li><%= link_to "　<i class='glyphicon glyphicon-sort-by-order icon_sidebar'></i> 棒次表現".html_safe, {controller: "records", action: "order"} %></li>
				<li><%= link_to "　#{fa_icon "flag 1x", class:"icon_sidebar"} 單場最佳紀錄".html_safe, {controller: "records", action: "max"} %></li>
				<li><%= link_to "　#{fa_icon "rocket 1x", class:"icon_sidebar"} 連續場次紀錄".html_safe, {controller: "records", action: "continuity"} %></li>
				<li><%= link_to "　#{fa_icon "star-o 1x", class:"icon_sidebar"} 幸運星指數".html_safe, {controller: "records", action: "lucky"} %></li>
				<!--
				<li><a href=""><i class="glyphicon glyphicon-circle"></i> Sabermetrics</a></li>
				-->
			</ul>
		</li>
		
	</ul>

	<!--
	<hr>

	<strong><i class="glyphicon glyphicon-link"></i> 資料變更</strong>

	<hr>

	<ul class="nav nav-pills nav-stacked">
		<li class="nav-header"></li>
		<li><a href="#"><i class="glyphicon glyphicon-list"></i> Layouts &amp; Templates</a></li>
		<li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Toolbox</a></li>
		<li><a href="#"><i class="glyphicon glyphicon-link"></i> Widgets</a></li>
		<li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
		<li><a href="#"><i class="glyphicon glyphicon-book"></i> Pages</a></li>
		<li><a href="#"><i class="glyphicon glyphicon-star"></i> Social Media</a></li>
	</ul>
	-->
	<hr>
	
	<strong><i class="glyphicon glyphicon-link"></i> 相關連結</strong>

	<hr>
	
	<ul class="nav nav-pills nav-stacked">
		<li class="nav-header"></li>
		<li><a href="http://ntusbleague.org/"><i class="glyphicon glyphicon-list"></i> 臺大慢壘聯盟紀錄網頁</a></li>
	</ul>
	
</div>
<!-- /col-3 -->