<%= javascript_include_tag 'records' %>
<!-- Main -->
<section id="records">
<div class="container-fluid">
    <div class="row">
        <%= render :partial => "sidebar" %>
		<div class="recordsContent col-sm-9">
			<h3>打擊查詢</h3>
			<hr>
			<%= form_tag("batting" , method:"get") do %>
				<%= select_tag(:year, options_for_select(@year_option,@year_option[@year_option.length-2][1])) %></td>
				<%= select_tag(:N, options_for_select(@year_option,@year_option[@year_option.length-2][1])) %></td>
				<%= submit_tag("查詢", name: nil) %>
			<% end %>
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
</section>