<%= javascript_include_tag 'records' %>
<!-- Main -->
<section id="records">
<div class="container-fluid">
    <div class="row">
        <%= render :partial => "sidebar" %>
		<div class="recordsContent col-sm-9">
			<h3>所有盃賽成績查詢</h3>
			<hr>
			<% if @year == nil || @cup == nil %>
				<script>
					function click_go(){
						year_cup = $('#year :selected').text();
						if($('#year :selected').val().toString() == "Wildcard") {
							$('#cup').val(year_cup.substring(5));
						}
						else {
							$('#cup').val(year_cup.substring(7));
						}
						$('form').submit();
					}
				</script>
				<%= form_tag("cup", method:"get") do %>
					<%= select_tag(:year, options_for_select(@year_option,@year_option[0][1])) %>
					<%= hidden_field_tag 'cup' %>
					<%= button_tag(type: 'button', onclick:'javascript:click_go()') do
						"查詢"
					end %>
				<% end %>
				<br/>
				<h5>官方賽為：<%= @listOfficial %><br/>正式賽為：<%= @listFormal %></h5>
			<% else %>
				<h4><%= (@year == 'Wildcard')?('不分'):(@year) %>年度 <%= @cup %> 賽事 ( 目前共 <%= @num_of_game %> 場 )</h4>
				<br/>
				<div class="table-responsive" id="div_cup_gamelist">
					<table class="table table-striped table-condensed" id="table_cup_gamelist">
						<thead>
							<tr>
								<th>編號</th>
								<th>年度</th>
								<th>盃賽</th>
								<th>客隊</th>
								<th>客隊分數</th>
								<th>主隊分數</th>
								<th>主隊</th>
								<th>時間</th>
								<th>MVP</th>
							</tr>
						</thead>
						<tbody>
							<% @cup_gamelist.each do |onegame| %>
								<tr>
									<td>
										<%= link_to onegame.game_id, controller: "records", action: "game", game_id: onegame.game_id %>
									</td>
									<td><%= onegame.year %></td>
									<td><%= onegame.cup_name %></td>
									<td><%= onegame.teamAwayName %></td>
									<td><%= onegame.away_score %></td>
									<td><%= onegame.home_score %></td>
									<td><%= onegame.teamHomeName %></td>
									<td>
										<%= onegame.time.strftime("%Y.%m.%d %p%I:%M") %>
									</td>
									<td><%= onegame.mvp %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<br/>
				<h4>打擊成績</h4>
				<br/>
				<h5 style="margin:0 0 10px; text-transform:none">Active Player: 認定標準為現役球員，且每場<%= @activePLAYER_Batting %>打席 -- 目前 <%= @num_of_game %> 場。</h5>
				<h5 style="margin:0 0 10px; text-transform:none" id="descriptionCupBat"></h5>
				<h5 style="margin:0 0 10px; text-transform:none"><點選各項目表頭以進行排序></h5>
				<div class="wrapperForScrollbar" id="wrapper_cup_batting_all">
					<div class="fakeContentForScrollBar" id="content_cup_batting_all"></div>
				</div>
				<div class="table-responsive" id="div_cup_batting_all">
					<table class="table table-striped table-condensed" id="table_cup_batting_all" data-toggle="table" data-sort-name="AVG" data-sort-order="desc">
						<thead>
							<tr>
								<th class= "colName" data-field="Name" data-sortable="true" data-sorter="NameSorterBat" data-align="center">Name<br/>姓名</th>
								<th class= "colG" data-field="G" data-sortable="true" data-sorter="normalSorterBat" data-align="center">G<br/>場次</th>
								<th class= "colPA" data-field="PA" data-sortable="true" data-sorter="normalSorterBat" data-align="center">PA<br/>打席</th>
								<th class= "colAB" data-field="AB" data-sortable="true" data-sorter="normalSorterBat" data-align="center">AB<br/>打數</th>
								<th class= "colH" data-field="H" data-sortable="true" data-sorter="normalSorterBat" data-align="center">H<br/>安打</th>
								<th class= "colB2" data-field="B2" data-sortable="true" data-sorter="normalSorterBat" data-align="center">2B<br/>二壘</th>
								<th class= "colB3" data-field="B3" data-sortable="true" data-sorter="normalSorterBat" data-align="center">3B<br/>三壘</th>
								<th class= "colHR" data-field="HR" data-sortable="true" data-sorter="normalSorterBat" data-align="center">HR<br/>全壘</th>
								<th class= "colTB" data-field="TB" data-sortable="true" data-sorter="normalSorterBat" data-align="center">TB<br/>壘打數</th>
								<th class= "colRBI" data-field="RBI" data-sortable="true" data-sorter="normalSorterBat" data-align="center">RBI<br/>打點</th>
								<th class= "colR" data-field="R" data-sortable="true" data-sorter="normalSorterBat" data-align="center">R<br/>得分</th>
								<th class= "colSO" data-field="SO" data-sortable="true" data-sorter="normalSorterBat" data-align="center">SO<br/>三振</th>
								<th class= "colBB" data-field="BB" data-sortable="true" data-sorter="normalSorterBat" data-align="center">BB<br/>四壞</th>
								<th class= "colIBB" data-field="IBB" data-sortable="true" data-sorter="normalSorterBat" data-align="center">IBB<br/>故意</th>
								<th class= "colSF" data-field="SF" data-sortable="true" data-sorter="normalSorterBat" data-align="center">SF<br/>犧牲</th>
								<th class= "colE" data-field="E" data-sortable="true" data-sorter="normalSorterBat" data-align="center">BOE<br/>失誤</th>
								<th class= "colAVG" data-field="AVG" data-sortable="true" data-sort-name="_AVG_data" data-sorter="AVGSorter_Bat" data-align="center">AVG<br/>打擊率</th>
								<th class= "colOBP" data-field="OBP" data-sortable="true" data-sort-name="_OBP_data" data-sorter="OBPSorter" data-align="center">OBP<br/>上壘率</th>
								<th class= "colSLG" data-field="SLG" data-sortable="true" data-sort-name="_SLG_data" data-sorter="SLGSorter" data-align="center">SLG<br/>長打率</th>
								<th class= "colOPS" data-field="OPS" data-sortable="true" data-sort-name="_OPS_data" data-sorter="OPSSorter" data-align="center">OPS<br/>整體攻擊指數</th>
								<th class= "colTA" data-field="TA" data-sortable="true" data-sort-name="_TA_data" data-sorter="TASorter" data-align="center">TA<br/>攻擊指數</th>
							</tr>
						</thead>
						<script>
							$(function(){
								var SortedName = '';
								$('#table_cup_batting_all').on('sort.bs.table', function (e, name, order) {
									SortedName = name;
								});
								$('#table_cup_batting_all').on('post-body.bs.table', function () {
									$('#table_cup_batting_all').find('tbody tr td').each(function(){
										if($(this).hasClass('sorting')){
											$(this).removeClass('sorting');
										}
									});
									SortedItem = $('#table_cup_batting_all').find('tbody tr td.col'+SortedName);
									SortedItem.each(function(){
										$(this).addClass('sorting');
									});
								});
							});
							$(window).on('load resize', function(){
								$('#wrapper_cup_batting_all').width($('#div_cup_batting_all').width());
								$('#content_cup_batting_all').width($('#table_cup_batting_all').width());
							});
							$(function(){
								wrapperForTableBat = $("#table_cup_batting_all").parent('div')
								$("#wrapper_cup_batting_all").scroll(function(){
									wrapperForTableBat.scrollLeft($("#wrapper_cup_batting_all").scrollLeft());
								});
								wrapperForTableBat.scroll(function(){
									$("#wrapper_cup_batting_all").scrollLeft(wrapperForTableBat.scrollLeft());
								});
							});
							function clearDescriptionBat(){
								$('#descriptionCupBat').text('');
							}
							function NameSorterBat(a, b) {
								clearDescriptionBat();
								if (a.toLowerCase() > b.toLowerCase()) return 1;
								if (a.toLowerCase() < b.toLowerCase()) return -1;
								return 0;
							}
							function normalSorterBat(a, b) {
								clearDescriptionBat();
								if (parseInt(a) > parseInt(b)) return 1;
								if (parseInt(a) < parseInt(b)) return -1;
								return 0;
							}
							function AVGSorter_Bat(a, b) {
								$('#descriptionCupBat').text('打擊率 = 安打數 / 打數');
								// 兩階段sorting - 先過濾打席是否足額
								threshold = <%= @num_of_game * @activePLAYER_Batting %>;
								if(a.pa >= threshold && b.pa < threshold)
									return 1;
								else if(a.pa < threshold && b.pa >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.avg != "-.---" && b.avg == "-.---") return 1;
									if (a.avg == "-.---" && b.avg != "-.---") return -1;
									if (a.avg == "-.---" && b.avg == "-.---") return 0;
									if(a.avg > b.avg) return 1;
									if(a.avg < b.avg) return -1;
									return 0;
								}
							}
							function OBPSorter(a, b) {
								$('#descriptionCupBat').text('上壘率 = 安打數 + 四死球 / 打席');
								// 兩階段sorting - 先過濾打席是否足額
								threshold = <%= @num_of_game * @activePLAYER_Batting %>;
								if(a.pa >= threshold && b.pa < threshold)
									return 1;
								else if(a.pa < threshold && b.pa >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.obp != "-.---" && b.obp == "-.---") return 1;
									if (a.obp == "-.---" && b.obp != "-.---") return -1;
									if (a.obp == "-.---" && b.obp == "-.---") return 0;
									if(a.obp > b.obp) return 1;
									if(a.obp < b.obp) return -1;
									return 0;
								}
							}
							function SLGSorter(a, b) {
								$('#descriptionCupBat').text('長打率 = 壘打數 / 打數');
								// 兩階段sorting - 先過濾打席是否足額
								threshold = <%= @num_of_game * @activePLAYER_Batting %>;
								if(a.pa >= threshold && b.pa < threshold)
									return 1;
								else if(a.pa < threshold && b.pa >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.slg != "-.---" && b.slg == "-.---") return 1;
									if (a.slg == "-.---" && b.slg != "-.---") return -1;
									if (a.slg == "-.---" && b.slg == "-.---") return 0;
									if(a.slg > b.slg) return 1;
									if(a.slg < b.slg) return -1;
									return 0;
								}
							}
							function OPSSorter(a, b) {
								$('#descriptionCupBat').text('整體攻擊指數 = 上壘率 + 長打率');
								// 兩階段sorting - 先過濾打席是否足額
								threshold = <%= @num_of_game * @activePLAYER_Batting %>;
								if(a.pa >= threshold && b.pa < threshold)
									return 1;
								else if(a.pa < threshold && b.pa >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if(a.ops > b.ops) return 1;
									if(a.ops < b.ops) return -1;
									return 0;
								}
							}
							function TASorter(a, b) {
								$('#descriptionCupBat').text('攻擊指數 = (壘打數 + 盜壘成功數 + 四死球) / (打數 - 安打數 + 雙殺打)');
								// 兩階段sorting - 先過濾打席是否足額
								threshold = <%= @num_of_game * @activePLAYER_Batting %>;
								if(a.pa >= threshold && b.pa < threshold)
									return 1;
								else if(a.pa < threshold && b.pa >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if(a.ta > b.ta) return 1;
									if(a.ta < b.ta) return -1;
									return 0;
								}
							}
						</script>
						<% if @cup_batting.size != 0 %>
							<tbody>
								<% @cup_batting.each do |cupBat| %>
									<% if cupBat.PA >= @num_of_game * @activePLAYER_Batting %>
										<tr>
									<% else %>
										<tr class="nonActive">
									<% end %>
											<td class="colName">
												<%= link_to cupBat.player_id, controller: "records", action: "batting", player: cupBat.player_id, year: @year, cup: @cup %>
											</td>
											<td class="colG"><%= cupBat.G %></td>
											<td class="colPA"><%= cupBat.PA %></td>
											<td class="colAB"><%= cupBat.AB %></td>
											<td class="colH"><%= cupBat.H %></td>
											<td class="colB2"><%= cupBat.B2 %></td>
											<td class="colB3"><%= cupBat.B3 %></td>
											<td class="colHR"><%= cupBat.HR %></td>
											<td class="colTB"><%= cupBat.TB %></td>
											<td class="colRBI"><%= cupBat.RBI %></td>
											<td class="colR"><%= cupBat.R %></td>
											<td class="colSO"><%= cupBat.SO %></td>
											<td class="colBB"><%= cupBat.BB %></td>
											<td class="colIBB"><%= cupBat.IBB %></td>
											<td class="colSF"><%= cupBat.SF %></td>
											<td class="colE"><%= cupBat.E %></td>
											<td class="colAVG sorting" data-PA="<%= cupBat.PA %>" data-AVG="<%= sortHelper(cupBat.AB,cupBat.H,cupBat.AVG,3) %>">
												<% if cupBat.AB == 0 %>
													<% if cupBat.H == 0 %>
														-.---
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.3f' % cupBat.AVG.round(3) %>
												<% end %>
											</td>
											<td class="colOBP" data-PA="<%= cupBat.PA %>" data-OBP="<%= sortHelper(cupBat.PA,(cupBat.H + cupBat.BB + cupBat.IBB),cupBat.OBP,3) %>">
												<% if cupBat.PA == 0 %>
													<% if cupBat.H + cupBat.BB + cupBat.IBB == 0 %>
														-.---
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.3f' % cupBat.OBP.round(3) %>
												<% end %>
											</td>
											<td class="colSLG" data-PA="<%= cupBat.PA %>" data-SLG="<%= sortHelper(cupBat.AB,cupBat.TB,cupBat.SLG,3) %>">
												<% if cupBat.AB == 0 %>
													<% if cupBat.TB == 0 %>
														-.---
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.3f' % cupBat.SLG.round(3) %>
												<% end %>
											</td>
											<td class="colOPS" data-PA="<%= cupBat.PA %>" data-OPS="<%= '%.3f' % cupBat.OPS %>"><%= '%.3f' % cupBat.OPS %></td>
											<td class="colTA" data-PA="<%= cupBat.PA %>" data-TA="<%= '%.3f' % cupBat.TA %>"><%= '%.3f' % cupBat.TA %></td>
										</tr>
								<% end %>
							</tbody>
						<% end %>
					</table>
				</div>
				<br/>
				<div class="table-responsive" id="div_cup_batting_summary">
					<table class="table table-striped table-condensed" id="table_cup_batting_summary">
						<thead>
							<tr>
								<th>PA<br/>總打席</th>
								<th>AB<br/>總打數</th>
								<th>H<br/>安打</th>
								<th>2B<br/>二壘</th>
								<th>3B<br/>三壘</th>
								<th>HR<br/>全壘</th>
								<th>TB<br/>壘打數</th>
								<th>RBI<br/>打點</th>
								<th>R<br/>得分</th>
								<th>SO<br/>三振</th>
								<th>BB<br/>四壞</th>
								<th>IBB<br/>故意</th>
								<th>SF<br/>犧牲</th>
								<th>BOE<br/>失誤</th>
								<th>AVG<br/>打擊率</th>
								<th>OBP<br/>上壘率</th>
								<th>SLG<br/>長打率</th>
								<th>OPS<br/>整體攻擊指數</th>
								<th>TA<br/>攻擊指數</th>
							</tr>
						</thead>
						<tbody>
							<% if @cup_batting_summary.PA != nil %>
								<tr>
									<td><%= @cup_batting_summary.PA %></td>
									<td><%= @cup_batting_summary.AB %></td>
									<td><%= @cup_batting_summary.H %></td>
									<td><%= @cup_batting_summary.B2 %></td>
									<td><%= @cup_batting_summary.B3 %></td>
									<td><%= @cup_batting_summary.HR %></td>
									<td><%= @cup_batting_summary.TB %></td>
									<td><%= @cup_batting_summary.RBI %></td>
									<td><%= @cup_batting_summary.R %></td>
									<td><%= @cup_batting_summary.SO %></td>
									<td><%= @cup_batting_summary.BB %></td>
									<td><%= @cup_batting_summary.IBB %></td>
									<td><%= @cup_batting_summary.SF %></td>
									<td><%= @cup_batting_summary.E %></td>
									<td>
										<% if @cup_batting_summary.AB == 0 %>
											<% if @cup_batting_summary.H == 0 %>
												-.---
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.3f' % @cup_batting_summary.AVG.round(3) %>
										<% end %>
									</td>
									<td>
										<% if @cup_batting_summary.PA == 0 %>
											<% if @cup_batting_summary.H + @cup_batting_summary.BB + @cup_batting_summary.IBB == 0 %>
												-.---
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.3f' % @cup_batting_summary.OBP.round(3) %>
										<% end %>
									</td>
									<td>
										<% if @cup_batting_summary.AB == 0 %>
											<% if @cup_batting_summary.TB == 0 %>
												-.---
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.3f' % @cup_batting_summary.SLG.round(3) %>
										<% end %>
									</td>
									<td><%= '%.3f' % @cup_batting_summary.OPS %></td>
									<td><%= '%.3f' % @cup_batting_summary.TA %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<br/>
				<h4>投球成績</h4>
				<br/>
				<h5 style="margin:0 0 10px; text-transform:none" id="descriptionCupPit"></h5>
				<h5 style="margin:0 0 10px; text-transform:none"><點選各項目表頭以進行排序></h5>
				<div class="wrapperForScrollbar" id="wrapper_cup_pitching_all">
					<div class="fakeContentForScrollBar" id="content_cup_pitching_all"></div>
				</div>
				<div class="table-responsive" id="div_cup_pitching_all">
					<table class="table table-striped table-condensed" id="table_cup_pitching_all" data-toggle="table" data-sort-name="ERA5" data-sort-order="desc">
						<thead>
							<tr>
								<th class= "colName" data-field="Name" data-sortable="true" data-sorter="NameSorterPit" data-align="center">Pitcher<br/>投手</th>
								<th class= "colG" data-field="G" data-sortable="true" data-sorter="normalSorterPit" data-align="center">G<br/>出賽</th>
								<th class= "colW" data-field="W" data-sortable="true" data-sorter="normalSorterPit" data-align="center">W<br/>勝投</th>
								<th class= "colL" data-field="L" data-sortable="true" data-sorter="normalSorterPit" data-align="center">L<br/>敗投</th>
								<th class= "colIP" data-field="IP" data-sortable="true" data-sorter="normalSorterPit" data-align="center">IP<br/>局數</th>
								<th class= "colTBF" data-field="TBF" data-sortable="true" data-sorter="normalSorterPit" data-align="center">TBF<br/>面對打席</th>
								<th class= "colH" data-field="H" data-sortable="true" data-sorter="normalSorterPit" data-align="center">H<br/>被安打</th>
								<th class= "colHR" data-field="HR" data-sortable="true" data-sorter="normalSorterPit" data-align="center">HR<br/>被全壘打</th>
								<th class= "colSO" data-field="SO" data-sortable="true" data-sorter="normalSorterPit" data-align="center">SO<br/>三振</th>
								<th class= "colBB" data-field="BB" data-sortable="true" data-sorter="normalSorterPit" data-align="center">BB<br/>四壞</th>
								<th class= "colIBB" data-field="IBB" data-sortable="true" data-sorter="normalSorterPit" data-align="center">IBB<br/>故意</th>
								<th class= "colR" data-field="R" data-sortable="true" data-sorter="normalSorterPit" data-align="center">R<br/>失分</th>
								<th class= "colER" data-field="ER" data-sortable="true" data-sorter="normalSorterPit" data-align="center">ER<br/>自責</th>
								<th class= "colAVG" data-field="AVG" data-sortable="true" data-sort-name="_AVG_data" data-sorter="AVGSorter_Pit" data-align="center">AVG<br/>被打擊率</th>
								<th class= "colWHIP" data-field="WHIP" data-sortable="true" data-sort-name="_WHIP_data" data-sorter="WHIPSorter" data-align="center">WHIP<br/>每局被上壘率</th>
								<th class= "colERA5" data-field="ERA5" data-sortable="true" data-sort-name="_ERA5_data" data-sorter="ERA5Sorter" data-align="center">ERA5<br/>五局防禦率</th>
								<th class= "colERA7" data-field="ERA7" data-sortable="true" data-sort-name="_ERA7_data" data-sorter="ERA7Sorter" data-align="center">ERA7<br/>七局防禦率</th>
								<th class= "colR5" data-field="R5" data-sortable="true" data-sort-name="_R5_data" data-sorter="R5Sorter" data-align="center">R/5<br/>五局失分率</th>
								<th class= "colR7" data-field="R7" data-sortable="true" data-sort-name="_R7_data" data-sorter="R7Sorter" data-align="center">R/7<br/>七局失分率</th>
							</tr>
						</thead>
						<script>
							$(function(){
								
								var SortedName = '';
								$('#table_cup_pitching_all').on('sort.bs.table', function (e, name, order) {
									SortedName = name;
								});
								$('#table_cup_pitching_all').on('post-body.bs.table', function () {
									$('#table_cup_pitching_all').find('tbody tr td').each(function(){
										if($(this).hasClass('sorting')){
											$(this).removeClass('sorting');
										}
									});
									SortedItem = $('#table_cup_pitching_all').find('tbody tr td.col'+SortedName);
									SortedItem.each(function(){
										$(this).addClass('sorting');
									});
								});
							});
							$(window).on('load resize', function(){
								$('#wrapper_cup_pitching_all').width($('#div_cup_pitching_all').width());
								$('#content_cup_pitching_all').width($('#table_cup_pitching_all').width());
							});
							$(function(){
								wrapperForTablePit = $("#table_cup_pitching_all").parent('div')
								$("#wrapper_cup_pitching_all").scroll(function(){
									wrapperForTablePit.scrollLeft($("#wrapper_cup_pitching_all").scrollLeft());
								});
								wrapperForTablePit.scroll(function(){
									$("#wrapper_cup_pitching_all").scrollLeft(wrapperForTablePit.scrollLeft());
								});
							});
							function clearDescriptionPit(){
								$('#descriptionCupPit').text('');
							}
							function NameSorterPit(a, b) {
								clearDescriptionPit();
								if (a.toLowerCase() > b.toLowerCase()) return 1;
								if (a.toLowerCase() < b.toLowerCase()) return -1;
								return 0;
							}
							function normalSorterPit(a, b) {
								clearDescriptionPit();
								if (parseFloat(a) > parseFloat(b)) return 1;
								if (parseFloat(a) < parseFloat(b)) return -1;
								return 0;
							}
							function AVGSorter_Pit(a, b) {
								$('#descriptionCupPit').text('被打擊率 = 被安打數 / 面對打數');
							
								if (a.avg != "-.---" && b.avg == "-.---") return 1;
								if (a.avg == "-.---" && b.avg != "-.---") return -1;
								if (a.avg == "-.---" && b.avg == "-.---") return 0;
								if (a.avg == "∞" && b.avg != "∞") return -1;
								if (a.avg != "∞" && b.avg == "∞") return 1;
								if (a.avg == "∞" && b.avg == "∞") return 0;
								if (a.avg < b.avg) return 1;
								if (a.avg > b.avg) return -1;
								return 0;
								
							}
							function WHIPSorter(a, b) {
								$('#descriptionCupPit').text('每局被上壘率 = (被安打數 + 四壞) / 投球局數');
							
								if (a.whip != "-.--" && b.whip == "-.--") return 1;
								if (a.whip == "-.--" && b.whip != "-.--") return -1;
								if (a.whip == "-.--" && b.whip == "-.--") return 0;
								if (a.whip == "∞" && b.whip != "∞") return -1;
								if (a.whip != "∞" && b.whip == "∞") return 1;
								if (a.whip == "∞" && b.whip == "∞") return 0;
								if (a.whip < b.whip) return 1;
								if (a.whip > b.whip) return -1;
								return 0;
								
							}
							function ERA5Sorter(a, b) {
								$('#descriptionCupPit').text('五局防禦率 = 自責分 x 5 / 投球局數');
							
								if (a.era5 != "-.--" && b.era5 == "-.--") return 1;
								if (a.era5 == "-.--" && b.era5 != "-.--") return -1;
								if (a.era5 == "-.--" && b.era5 == "-.--") return 0;
								if (a.era5 == "∞" && b.era5 != "∞") return -1;
								if (a.era5 != "∞" && b.era5 == "∞") return 1;
								if (a.era5 == "∞" && b.era5 == "∞") return 0;
								if (a.era5 < b.era5) return 1;
								if (a.era5 > b.era5) return -1;
								return 0;
								
							}
							function ERA7Sorter(a, b) {
								$('#descriptionCupPit').text('七局防禦率 = 自責分 x 7 / 投球局數');
								
								if (a.era7 != "-.--" && b.era7 == "-.--") return 1;
								if (a.era7 == "-.--" && b.era7 != "-.--") return -1;
								if (a.era7 == "-.--" && b.era7 == "-.--") return 0;
								if (a.era7 == "∞" && b.era7 != "∞") return -1;
								if (a.era7 != "∞" && b.era7 == "∞") return 1;
								if (a.era7 == "∞" && b.era7 == "∞") return 0;
								if (a.era7 < b.era7) return 1;
								if (a.era7 > b.era7) return -1;
								return 0;
								
							}
							function R5Sorter(a, b) {
								$('#descriptionCupPit').text('五局失分率 = 失分 x 5 / 投球局數');
								
								if (a.r5 != "-.--" && b.r5 == "-.--") return 1;
								if (a.r5 == "-.--" && b.r5 != "-.--") return -1;
								if (a.r5 == "-.--" && b.r5 == "-.--") return 0;
								if (a.r5 == "∞" && b.r5 != "∞") return -1;
								if (a.r5 != "∞" && b.r5 == "∞") return 1;
								if (a.r5 == "∞" && b.r5 == "∞") return 0;
								if (a.r5 < b.r5) return 1;
								if (a.r5 > b.r5) return -1;
								return 0;
								
							}
							function R7Sorter(a, b) {
								$('#descriptionCupPit').text('七局失分率 = 失分 x 7 / 投球局數');
								
								if (a.r7 != "-.--" && b.r7 == "-.--") return 1;
								if (a.r7 == "-.--" && b.r7 != "-.--") return -1;
								if (a.r7 == "-.--" && b.r7 == "-.--") return 0;
								if (a.r7 == "∞" && b.r7 != "∞") return -1;
								if (a.r7 != "∞" && b.r7 == "∞") return 1;
								if (a.r7 == "∞" && b.r7 == "∞") return 0;
								if (a.r7 < b.r7) return 1;
								if (a.r7 > b.r7) return -1;
								return 0;
							
							}
						</script>
						<% if @cup_pitching.size != 0 %>
							<tbody>
								<% @cup_pitching.each do |cupPit| %>
									<tr>
										<td class="colName">
											<%= link_to cupPit.player_id, controller: "records", action: "pitching", player: cupPit.player_id, year: @year, cup: @cup %>
										</td>
										<td class="colG"><%= cupPit.G %></td>
										<td class="colW"><%= cupPit.W %></td>
										<td class="colL"><%= cupPit.L %></td>
										<td class="colIP"><%= '%.1f' % cupPit.IP.round(1) %></td>
										<td class="colTBF"><%= cupPit.TBF %></td>
										<td class="colH"><%= cupPit.H %></td>
										<td class="colHR"><%= cupPit.HR %></td>
										<td class="colSO"><%= cupPit.SO %></td>
										<td class="colBB"><%= cupPit.BB %></td>
										<td class="colIBB"><%= cupPit.IBB %></td>
										<td class="colR"><%= cupPit.R %></td>
										<td class="colER"><%= cupPit.ER %></td>
										<td class="colAVG" data-IP="<%= cupPit.IP %>" data-AVG="<%= sortHelper((cupPit.TBF - cupPit.BB - cupPit.IBB),cupPit.H,cupPit.AVG,3) %>">
											<% if cupPit.TBF - cupPit.BB - cupPit.IBB == 0 %>
												<% if cupPit.H == 0 %>
													-.---
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.3f' % cupPit.AVG.round(3) %>
											<% end %>
										</td>
										<td class="colWHIP" data-IP="<%= cupPit.IP %>" data-WHIP="<%= sortHelper(cupPit.IP,(cupPit.H + cupPit.BB + cupPit.IBB),cupPit.WHIP,2) %>">
											<% if cupPit.IP == 0.0 %>
												<% if cupPit.H + cupPit.BB + cupPit.IBB == 0 %>
													-.--
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.2f' % cupPit.WHIP.round(2) %>
											<% end %>
										</td>
										<td class="colERA5 sorting" data-IP="<%= cupPit.IP %>" data-ERA5="<%= sortHelper(cupPit.IP,cupPit.ER,cupPit.ERA5,2) %>">
											<% if cupPit.IP == 0.0 %>
												<% if cupPit.ER == 0 %>
													-.--
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.2f' % cupPit.ERA5.round(2) %>
											<% end %>
										</td>
										<td class="colERA7" data-IP="<%= cupPit.IP %>" data-ERA7="<%= sortHelper(cupPit.IP,cupPit.ER,cupPit.ERA7,2) %>">
											<% if cupPit.IP == 0.0 %>
												<% if cupPit.ER == 0 %>
													-.--
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.2f' % cupPit.ERA7.round(2) %>
											<% end %>
										</td>
										<td class="colR5" data-IP="<%= cupPit.IP %>" data-R5="<%= sortHelper(cupPit.IP,cupPit.R,cupPit.R5,2) %>">
											<% if cupPit.IP == 0.0 %>
												<% if cupPit.R == 0 %>
													-.--
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.2f' % cupPit.R5.round(2) %>
											<% end %>
										</td>
										<td class="colR7" data-IP="<%= cupPit.IP %>" data-R7="<%= sortHelper(cupPit.IP,cupPit.R,cupPit.R7,2) %>">
											<% if cupPit.IP == 0.0 %>
												<% if cupPit.R == 0 %>
													-.--
												<% else %>
													∞
												<% end %>
											<% else %>
												<%= '%.2f' % cupPit.R7.round(2) %>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>	
						<% end %>
					</table>
				</div>
				<br/>
				<div class="table-responsive" id="div_cup_pitching_summary">
					<table class="table table-striped table-condensed" id="table_cup_pitching_summary">
						<thead>
							<tr>
								<th>W<br/>勝投</th>
								<th>L<br/>敗投</th>
								<th>IP<br/>局數</th>
								<th>TBF<br/>面對打席</th>
								<th>H<br/>被安打</th>
								<th>HR<br/>被全壘打</th>
								<th>SO<br/>三振</th>
								<th>BB<br/>四壞</th>
								<th>IBB<br/>故意</th>
								<th>R<br/>失分</th>
								<th>ER<br/>自責</th>
								<th>AVG<br/>被打擊率</th>
								<th>WHIP<br/>每局被上壘率</th>
								<th>ERA5<br/>五局防禦率</th>
								<th>ERA7<br/>七局防禦率</th>
								<th>R/5<br/>五局失分率</th>
								<th>R/7<br/>七局失分率</th>
							</tr>
						</thead>
						<% if @cup_pitching_summary.TBF != nil %>
							<tbody>
								<td><%= @cup_pitching_summary.W %></td>
								<td><%= @cup_pitching_summary.L %></td>
								<td><%= '%.1f' % @cup_pitching_summary.IP.round(1) %></td>
								<td><%= @cup_pitching_summary.TBF %></td>
								<td><%= @cup_pitching_summary.H %></td>
								<td><%= @cup_pitching_summary.HR %></td>
								<td><%= @cup_pitching_summary.SO %></td>
								<td><%= @cup_pitching_summary.BB %></td>
								<td><%= @cup_pitching_summary.IBB %></td>
								<td><%= @cup_pitching_summary.R %></td>
								<td><%= @cup_pitching_summary.ER %></td>
								<td>
									<% if @cup_pitching_summary.TBF - @cup_pitching_summary.BB - @cup_pitching_summary.IBB == 0 %>
										<% if @cup_pitching_summary.H == 0 %>
											-.---
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.3f' % @cup_pitching_summary.AVG.round(3) %>
									<% end %>
								</td>
								<td>
									<% if @cup_pitching_summary.IP == 0.0 %>
										<% if @cup_pitching_summary.H + @cup_pitching_summary.BB + @cup_pitching_summary.IBB == 0 %>
											-.--
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.2f' % @cup_pitching_summary.WHIP.round(2) %>
									<% end %>
								</td>
								<td>
									<% if @cup_pitching_summary.IP == 0.0 %>
										<% if @cup_pitching_summary.ER == 0 %>
											-.--
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.2f' % @cup_pitching_summary.ERA5.round(2) %>
									<% end %>
								</td>
								<td>
									<% if @cup_pitching_summary.IP == 0.0 %>
										<% if @cup_pitching_summary.ER == 0 %>
											-.--
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.2f' % @cup_pitching_summary.ERA7.round(2) %>
									<% end %>
								</td>
								<td>
									<% if @cup_pitching_summary.IP == 0.0 %>
										<% if @cup_pitching_summary.R == 0 %>
											-.--
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.2f' % @cup_pitching_summary.R5.round(2) %>
									<% end %>
								</td>
								<td>
									<% if @cup_pitching_summary.IP == 0.0 %>
										<% if @cup_pitching_summary.R == 0 %>
											-.--
										<% else %>
											∞
										<% end %>
									<% else %>
										<%= '%.2f' % @cup_pitching_summary.R7.round(2) %>
									<% end %>
								</td>
							</tbody>
						<% end %>
					</table>
				</div>
				<br/>
				<h4>守備成績</h4>
				<br/>
				<h5 style="margin:0 0 10px; text-transform:none">Active Player: 認定標準為現役球員，且每場<%= @activePLAYER_Fielding %>局 -- 目前 <%= @num_of_game %> 場(需<%= '%.1f' % (@num_of_game * @activePLAYER_Fielding.to_f) %>局以上)。</h5>
				<h5 style="margin:0 0 10px; text-transform:none" id="descriptionCupFld"></h5>
				<h5 style="margin:0 0 10px; text-transform:none"><點選各項目表頭以進行排序></h5>
				<div class="wrapperForScrollbar" id="wrapper_cup_fielding_all">
					<div class="fakeContentForScrollBar" id="content_cup_fielding_all"></div>
				</div>
				<div class="table-responsive" id="div_cup_fielding_all">
					<table class="table table-striped table-condensed" id="table_cup_fielding_all" data-toggle="table" data-sort-name="FPCT" data-sort-order="desc">
						<thead>
							<tr>
								<th class= "colName" data-field="Name" data-sortable="true" data-sorter="NameSorterFld" data-align="center">Player<br/>守備員</th>
								<th class= "colG" data-field="G" data-sortable="true" data-sorter="normalSorterFld" data-align="center">G<br/>出賽</th>
								<th class= "colINN" data-field="INN" data-sortable="true" data-sorter="normalSorterFld" data-align="center">INN<br/>守備局數</th>
								<th class= "colTC" data-field="TC" data-sortable="true" data-sorter="normalSorterFld" data-align="center">TC<br/>守備機會</th>
								<th class= "colPO" data-field="PO" data-sortable="true" data-sorter="normalSorterFld" data-align="center">PO<br/>刺殺</th>
								<th class= "colA" data-field="A" data-sortable="true" data-sorter="normalSorterFld" data-align="center">A<br/>助殺</th>
								<th class= "colE" data-field="E" data-sortable="true" data-sorter="normalSorterFld" data-align="center">E<br/>失誤</th>
								<th class= "colFPCT" data-field="FPCT" data-sortable="true" data-sort-name="_FPCT_data" data-sorter="FPCTSorter" data-align="center">FPCT<br/>守備率</th>
								<th class= "colFactor5" data-field="Factor5" data-sortable="true" data-sort-name="_Factor5_data" data-sorter="Factor5Sorter" data-align="center">Range Factor5</th>
								<th class= "colFactor7" data-field="Factor7" data-sortable="true" data-sort-name="_Factor7_data" data-sorter="Factor7Sorter" data-align="center">Range Factor7</th>
							</tr>
						</thead>
						<script>
							$(function(){
								var SortedName = '';
								$('#table_cup_fielding_all').on('sort.bs.table', function (e, name, order) {
									SortedName = name;
								});
								$('#table_cup_fielding_all').on('post-body.bs.table', function () {
									$('#table_cup_fielding_all').find('tbody tr td').each(function(){
										if($(this).hasClass('sorting')){
											$(this).removeClass('sorting');
										}
									});
									SortedItem = $('#table_cup_fielding_all').find('tbody tr td.col'+SortedName);
									SortedItem.each(function(){
										$(this).addClass('sorting');
									});
								});
							});
							$(window).on('load resize', function(){
								$('#wrapper_cup_fielding_all').width($('#div_cup_fielding_all').width());
								$('#content_cup_fielding_all').width($('#table_cup_fielding_all').width());
							});
							$(function(){
								wrapperForTableFld = $('#table_cup_fielding_all').parent('div');
								$('#wrapper_cup_fielding_all').scroll(function(){
									wrapperForTableFld.scrollLeft($('#wrapper_cup_fielding_all').scrollLeft());
								});
								wrapperForTableFld.scroll(function(){
									$('#wrapper_cup_fielding_all').scrollLeft(wrapperForTableFld.scrollLeft());
								});
							});
							function clearDescriptionFld(){
								$('#descriptionCupFld').text('');
							}
							function NameSorterFld(a, b) {
								clearDescriptionFld();
								if (a.toLowerCase() > b.toLowerCase()) return 1;
								if (a.toLowerCase() < b.toLowerCase()) return -1;
								return 0;
							}
							function normalSorterFld(a, b) {
								clearDescriptionFld();
								if (parseFloat(a) > parseFloat(b)) return 1;
								if (parseFloat(a) < parseFloat(b)) return -1;
								return 0;
							}
							function FPCTSorter(a, b) {
								$('#descriptionCupFld').text('守備率 = (刺殺 + 助殺) / 守備機會');
								// 兩階段sorting - 先過濾局數是否足額
								threshold = <%= @num_of_game * @activePLAYER_Fielding.to_f %>;
								if(a.inn >= threshold && b.inn < threshold)
									return 1;
								else if(a.inn < threshold && b.inn >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.fpct != "-.---" && b.fpct == "-.---") return 1;
									if (a.fpct == "-.---" && b.fpct != "-.---") return -1;
									if (a.fpct == "-.---" && b.fpct == "-.---") return 0;
									if (a.fpct == "∞" && b.fpct != "∞") return -1;
									if (a.fpct != "∞" && b.fpct == "∞") return 1;
									if (a.fpct == "∞" && b.fpct == "∞") return 0;
									if (a.fpct > b.fpct) return 1;
									if (a.fpct < b.fpct) return -1;
									return 0;
								}
							}
							function Factor5Sorter(a, b) {
								$('#descriptionCupFld').text('Range Factor5 = ((刺殺 + 助殺 - 失誤) / (守備局數)) × 5，表示平均每5局該球員製造的淨出局數。');
								// 兩階段sorting - 先過濾局數是否足額
								threshold = <%= @num_of_game * @activePLAYER_Fielding.to_f %>;
								if(a.inn >= threshold && b.inn < threshold)
									return 1;
								else if(a.inn < threshold && b.inn >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.factor5 != "-.--" && b.factor5 == "-.--") return 1;
									if (a.factor5 == "-.--" && b.factor5 != "-.--") return -1;
									if (a.factor5 == "-.--" && b.factor5 == "-.--") return 0;
									if (a.factor5 == "∞" && b.factor5 != "∞") return -1;
									if (a.factor5 != "∞" && b.factor5 == "∞") return 1;
									if (a.factor5 == "∞" && b.factor5 == "∞") return 0;
									if (a.factor5 > b.factor5) return 1;
									if (a.factor5 < b.factor5) return -1;
									return 0;
								}
							}
							function Factor7Sorter(a, b) {
								$('#descriptionCupFld').text('Range Factor5 = ((刺殺 + 助殺 - 失誤) / (守備局數)) × 7，表示平均每7局該球員製造的淨出局數。');
								// 兩階段sorting - 先過濾局數是否足額
								threshold = <%= @num_of_game * @activePLAYER_Fielding.to_f %>;
								if(a.inn >= threshold && b.inn < threshold)
									return 1;
								else if(a.inn < threshold && b.inn >= threshold)
									return -1;
								// 再相比實際數值
								else{
									if (a.factor7 != "-.--" && b.factor7 == "-.--") return 1;
									if (a.factor7 == "-.--" && b.factor7 != "-.--") return -1;
									if (a.factor7 == "-.--" && b.factor7 == "-.--") return 0;
									if (a.factor7 == "∞" && b.factor7 != "∞") return -1;
									if (a.factor7 != "∞" && b.factor7 == "∞") return 1;
									if (a.factor7 == "∞" && b.factor7 == "∞") return 0;
									if (a.factor7 > b.factor7) return 1;
									if (a.factor7 < b.factor7) return -1;
									return 0;
								}
							}
						</script>
						<% if @cup_fielding.size != 0 %>
							<tbody>
								<% @cup_fielding.each do |cupFld| %>
									<% if cupFld.INN >= @num_of_game * @activePLAYER_Fielding.to_f %>
										<tr>
									<% else %>
										<tr class="nonActive">
									<% end %>
											<td class="colName">
												<%= link_to cupFld.player_id, controller: "records", action: "fielding", player: cupFld.player_id, year: @year, cup: @cup %>
											</td>
											<td class="colG"><%= cupFld.G %></td>
											<td class="colINN"><%= '%.1f' % cupFld.INN.round(1) %></td>
											<td class="colTC"><%= cupFld.TC %></td>
											<td class="colPO"><%= cupFld.PO %></td>
											<td class="colA"><%= cupFld.A %></td>
											<td class="colE"><%= cupFld.E %></td>
											<td class="colFPCT sorting" data-INN="<%= cupFld.INN %>" data-FPCT="<%= sortHelper(cupFld.TC,(cupFld.PO + cupFld.A),cupFld.FPCT,3) %>">
												<% if cupFld.TC == 0 %>
													<% if cupFld.PO + cupFld.A == 0 %>
														-.---
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.3f' % cupFld.FPCT.round(3) %>
												<% end %>
											</td>
											<td class="colFactor5" data-INN="<%= cupFld.INN %>" data-Factor5="<%= sortHelper(cupFld.INN,(cupFld.PO + cupFld.A - cupFld.E),cupFld.Factor5,2) %>">
												<% if cupFld.INN == 0 %>
													<% if cupFld.PO + cupFld.A - cupFld.E == 0 %>
														-.--
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.2f' % cupFld.Factor5.round(2) %>
												<% end %>
											</td>
											<td class="colFactor7" data-INN="<%= cupFld.INN %>" data-Factor7="<%= sortHelper(cupFld.INN,(cupFld.PO + cupFld.A - cupFld.E),cupFld.Factor7,2) %>">
												<% if cupFld.INN == 0 %>
													<% if cupFld.PO + cupFld.A - cupFld.E == 0 %>
														-.--
													<% else %>
														∞
													<% end %>
												<% else %>
													<%= '%.2f' % cupFld.Factor7.round(2) %>
												<% end %>
											</td>
										</tr>
								<% end %>
							</tbody>	
						<% end %>
					</table>
				</div>
				<br/>
				<div class="table-responsive" id="div_cup_fielding_summary">
					<table class="table table-striped table-condensed" id="table_cup_fielding_summary">
						<thead>
							<tr>
								<th>INN<br/>守備局數</th>
								<th>TC<br/>守備機會</th>
								<th>PO<br/>刺殺</th>
								<th>A<br/>助殺</th>
								<th>E<br/>失誤</th>
								<th>FPCT<br/>守備率</th>
								<th>Range Factor5</th>
								<th>Range Factor7</th>
							</tr>
						</thead>
						<% if @cup_fielding_summary.INN != nil %>
							<tbody>
								<tr>
									<td><%= '%.1f' % @cup_fielding_summary.INN.round(1) %></td>
									<td><%= @cup_fielding_summary.TC %></td>
									<td><%= @cup_fielding_summary.PO %></td>
									<td><%= @cup_fielding_summary.A %></td>
									<td><%= @cup_fielding_summary.E %></td>
									<td>
										<% if @cup_fielding_summary.TC == 0 %>
											<% if @cup_fielding_summary.PO + @cup_fielding_summary.A == 0 %>
												-.---
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.3f' % @cup_fielding_summary.FPCT.round(3) %>
										<% end %>
									</td>
									<td>
										<% if @cup_fielding_summary.INN == 0 %>
											<% if @cup_fielding_summary.PO + @cup_fielding_summary.A - @cup_fielding_summary.E == 0 %>
												-.--
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.2f' % @cup_fielding_summary.Factor5.round(2) %>
										<% end %>
									</td>
									<td>
										<% if @cup_fielding_summary.INN == 0 %>
											<% if @cup_fielding_summary.PO + @cup_fielding_summary.A - @cup_fielding_summary.E == 0 %>
												-.--
											<% else %>
												∞
											<% end %>
										<% else %>
											<%= '%.2f' % @cup_fielding_summary.Factor7.round(2) %>
										<% end %>
									</td>
								</tr>
							</tbody>
						<% end %>
					</table>
				</div>
			<% end %>
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
</section>