<%= javascript_include_tag 'records' %>
<!-- Main -->
<section id="records">
<div class="container-fluid">
    <div class="row">
        <%= render :partial => "sidebar" %>
		<div class="recordsContent col-sm-9">
			<h3>球賽查詢</h3>
			<hr>
			<% if(params[:game_id] == nil && params[:year] == nil) %>
				<%= form_tag("game" , method:"get") do %>
					<!-- 選單選項預設為最新年份 -->
					<%= select_tag(:year, options_for_select(@year_option,@year_option[@year_option.length-1][1])) %>
					<%= submit_tag("查詢", name: nil) %>
				<% end %>	
			<% elsif(params[:game_id] == nil && params[:year] != nil) %>
				<!-- 顯示該年所有比賽 -->
				<h4><%= params[:year] %>年(<%= params[:year].to_i-1911 %>年度)所有賽事</h4>
				<br/>
				<div class="table-responsive" id="div_game_oneyear">
					<table class="table table-striped table-condensed" id="table_game_oneyear">
						<thead>
							<tr>
								<th>編號</th>
								<th>年度</th>
								<th>盃賽</th>
								<th>客隊</th>
								<th>客隊分數</th>
								<th>主隊分數</th>
								<th>主隊</th>
								<th>時間</th>
								<th>MVP</th>
							</tr>
						</thead>
						<tbody>
							<% @game_oneyear.each do |onegame| %>
								<tr>
									<td>
										<%= link_to onegame.game_id, controller: "records", action: "game", game_id: onegame.game_id %>
									</td>
									<td><%= onegame.year %></td>
									<td><%= onegame.cup_name %></td>
									<td><%= onegame.teamAwayName %></td>
									<td><%= onegame.away_score %></td>
									<td><%= onegame.home_score %></td>
									<td><%= onegame.teamHomeName %></td>
									<td>
										<% game_time = onegame.time %>
										<%= game_time.strftime("%Y.%m.%d %p%I:%M") %>
									</td>
									<td><%= onegame.mvp %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			<% else %>
				<div class="panel panel-default">
					<!--<div class="panel-body">-->
						<div class="table-responsive" id="div_game_scoreboard">
							<table class="table table-condensed" id="table_game_scoreboard">
								<tbody>
									<tr>
										<td>　</td><!-- top spacing -->
									</tr>
									<tr>
										<td colspan="6">No. <%= @game_id %></td>
									</tr>
									<tr>
										<td rowspan="7" width="25%">
											<% if !Imsoftball::Application.assets.find_asset("team_logo/#{@game_onegame.teamAwayName}.png").nil? %>
												<%= image_tag("team_logo/#{@game_onegame.teamAwayName}.png", width: "150px", height:"150px", class:"teamLogo") %>
											<% else %>
												<%= image_tag("team_logo/logo_template.png", width: "150px", height:"150px", class:"teamLogo") %>
											<% end %>
											<br/>
											<br/>
											<%= @game_onegame.teamAwayName %>
										</td>
										<td colspan="4"><%= @game_onegame.year %>年度　<%= @game_onegame.cup_name %></td>
										<td rowspan="7" width="25%">
											<% if !Imsoftball::Application.assets.find_asset("team_logo/#{@game_onegame.teamHomeName}.png").nil? %>
												<%= image_tag("team_logo/#{@game_onegame.teamHomeName}.png", width: "150px", height:"150px", class:"teamLogo") %>
											<% else %>
												<%= image_tag("team_logo/logo_template.png", width: "150px", height:"150px", class:"teamLogo") %>
											<% end %>
											<br/>
											<br/>
											<%= @game_onegame.teamHomeName %>
										</td>
									</tr>
									<tr>
										<td id='board_versus' colspan="4" style="word-break:keep-all;white-space:nowrap;">
											<div id='board_nameAway' style="display:inline-block; width:35%; text-align:left; font-size:1.5em"><%= @game_onegame.teamAwayName %></div>
											<div id='board_score' style="padding:0 10px; display:inline-block; width:auto; font-size:2em; color: yellow;"><%= @game_onegame.away_score %>：<%= @game_onegame.home_score %></div>
											<div id='board_nameHome' style="display:inline-block; width:35%; text-align:right; font-size:1.5em"><%= @game_onegame.teamHomeName %></div>
										</td>
										<script>
											$(window).on('load resize', function(){
												$('#board_versus').css('min-width',$('#board_nameAway').width()+$('#board_score').width()+$('#board_nameHome').width()+20);
											});
										</script>
									</tr>
									<tr>
										<td colspan="4">
											<% game_time = @game_onegame.time %>
											<%= game_time.strftime("%Y.%m.%d %p%I:%M") %>
										</td>
									</tr>
									<tr style="border-top: 3px double #e3e3e3;">
										<td style="width:20%; background:black; border-radius:5px 0 0 0; border-left: 3px double #e3e3e3;"></td>
										<td style="width:10%; background:black; font-weight: bolder;">R</td>
										<td style="width:10%; background:black; font-weight: bolder;">H</td>
										<td style="width:10%; background:black; border-radius:0 5px 0 0; border-right: 3px double #e3e3e3; font-weight: bolder;">E</td>
									</tr>
									<tr>
										<td style="background:black; border-left: 3px double #e3e3e3;"><%= @game_onegame.teamAwayName %></td>
										<td style="background:black; font-weight: bolder;"><%= @game_onegame.away_score %></td>
										<td style="background:black; font-weight: bolder;">
											<% if @game_AllBattingAway.team_id != nil %>
												<%= @game_AllBattingAway.H %>
											<% elsif @game_AllPitchingHome.team_id != nil %>
												<%= @game_AllPitchingHome.H %>
											<% else %>
												X
											<% end %>
										</td>
										<td style="background:black; border-right: 3px double #e3e3e3; font-weight: bolder;">
											<% if @game_AllFieldingAway.team_id != nil %>
												<%= @game_AllFieldingAway.E %>
											<% else %>
												X
											<% end %>
										</td>
									</tr>
									<tr style="border-bottom: 3px double #e3e3e3;">
										<td style="background:black; border-radius:0 0 0 5px; border-left: 3px double #e3e3e3;"><%= @game_onegame.teamHomeName %></td>
										<td style="background:black; font-weight: bolder;"><%= @game_onegame.home_score %></td>
										<td style="background:black; font-weight: bolder;">
											<% if @game_AllBattingHome.team_id != nil %>
												<%= @game_AllBattingHome.H %>
											<% elsif @game_AllPitchingAway.team_id != nil %>
												<%= @game_AllPitchingAway.H %>
											<% else %>
												X
											<% end %>
										</td>
										<td style="background:black; border-radius:0 0 5px 0; border-right: 3px double #e3e3e3; font-weight: bolder;">
											<% if @game_AllFieldingHome.team_id != nil %>
												<%= @game_AllFieldingHome.E %>
											<% else %>
												X
											<% end %>
										</td>
									</tr>
									<tr>
										<td colspan="4">
											<%= @winner != ""? "W："+@winner : "" %> <%= @loser != ""? "L："+@loser : "" %> <%= @saver != ""? "SV："+@saver : "" %> <%= (@game_onegame.mvp != nil)? "MVP："+@game_onegame.mvp : "" %>
										</td>
									</tr>
									<tr>
										<td>　</td><!-- bottom spacing -->
									</tr>
								</tbody>
							</table>
						</div>
					<!--</div>-->
				</div>
			
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_battingAway">
							<div class="panel-heading panel-heading-batting">
								<h4><%= @game_onegame.teamAwayName %> 打擊成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_battingAway">
									<table class="table table-condensed" id="table_game_battingAway">
										<thead>
											<tr>
												<th>Order</th>
												<th>Player</th>
												<th>PA</th>
												<th>AB</th>
												<th>H</th>
												<th>2B</th>
												<th>3B</th>
												<th>HR</th>
												<th>TB</th>
												<th>RBI</th>
												<th>R</th>
												<th>SO</th>
												<th>BB</th>
												<th>IBB</th>
												<th>SF</th>
												<th>BOE</th>
												<th>AVG</th>
											</tr>
											<tr>
												<th>打序</th>
												<th>打者</th>
												<th>打席</th>
												<th>打數</th>
												<th>安打</th>
												<th>二壘</th>
												<th>三壘</th>
												<th>全壘</th>
												<th>壘打數</th>
												<th>打點</th>
												<th>得分</th>
												<th>三振</th>
												<th>四壞</th>
												<th>故意</th>
												<th>犧牲</th>
												<th>失誤</th>
												<th>打擊率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_BattingAway.size != 0 %>
												<% @game_BattingAway.each do |battingAway| %>
													<tr>
														<td><%= battingAway.order %></td>
														<td><%= battingAway.player_id %></td>
														<td><%= battingAway.PA %></td>
														<td><%= battingAway.AB %></td>
														<td><%= battingAway.H %></td>
														<td><%= battingAway.B2 %></td>
														<td><%= battingAway.B3 %></td>
														<td><%= battingAway.HR %></td>
														<td><%= battingAway.TB %></td>
														<td><%= battingAway.RBI %></td>
														<td><%= battingAway.R %></td>
														<td><%= battingAway.SO %></td>
														<td><%= battingAway.BB %></td>
														<td><%= battingAway.IBB %></td>
														<td><%= battingAway.SF %></td>
														<td><%= battingAway.E %></td>
														<td>
															<% if battingAway.AB == 0  %>
																-.---
															<% else %>
																<%= '%.3f' % battingAway.AVG.round(3) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="17">未登錄客隊打擊數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllBattingAway.team_id.nil? %>
											<tfoot>
												<tr>
													<td colspan="2">Total</td>
													<td><%= @game_AllBattingAway.PA %></td>
													<td><%= @game_AllBattingAway.AB %></td>
													<td><%= @game_AllBattingAway.H %></td>
													<td><%= @game_AllBattingAway.B2 %></td>
													<td><%= @game_AllBattingAway.B3 %></td>
													<td><%= @game_AllBattingAway.HR %></td>
													<td><%= @game_AllBattingAway.TB %></td>
													<td><%= @game_AllBattingAway.RBI %></td>
													<td><%= @game_AllBattingAway.R %></td>
													<td><%= @game_AllBattingAway.SO %></td>
													<td><%= @game_AllBattingAway.BB %></td>
													<td><%= @game_AllBattingAway.IBB %></td>
													<td><%= @game_AllBattingAway.SF %></td>
													<td><%= @game_AllBattingAway.E %></td>
													<td>
														<% if @game_AllBattingAway.AB == 0  %>
															-.---
														<% else %>
															<%= '%.3f' % @game_AllBattingAway.AVG.round(3) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_battingHome">
							<div class="panel-heading panel-heading-batting">
								<h4><%= @game_onegame.teamHomeName %> 打擊成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_battingHome">
									<table class="table table-condensed" id="table_game_battingHome">
										<thead>
											<tr>
												<th>Order</th>
												<th>Player</th>
												<th>PA</th>
												<th>AB</th>
												<th>H</th>
												<th>2B</th>
												<th>3B</th>
												<th>HR</th>
												<th>TB</th>
												<th>RBI</th>
												<th>R</th>
												<th>SO</th>
												<th>BB</th>
												<th>IBB</th>
												<th>SF</th>
												<th>BOE</th>
												<th>AVG</th>
											</tr>
											<tr>
												<th>打序</th>
												<th>打者</th>
												<th>打席</th>
												<th>打數</th>
												<th>安打</th>
												<th>二壘</th>
												<th>三壘</th>
												<th>全壘</th>
												<th>壘打數</th>
												<th>打點</th>
												<th>得分</th>
												<th>三振</th>
												<th>四壞</th>
												<th>故意</th>
												<th>犧牲</th>
												<th>失誤</th>
												<th>打擊率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_BattingHome.size != 0 %>
												<% @game_BattingHome.each do |battingHome| %>
													<tr>
														<td><%= battingHome.order %></td>
														<td><%= battingHome.player_id %></td>
														<td><%= battingHome.PA %></td>
														<td><%= battingHome.AB %></td>
														<td><%= battingHome.H %></td>
														<td><%= battingHome.B2 %></td>
														<td><%= battingHome.B3 %></td>
														<td><%= battingHome.HR %></td>
														<td><%= battingHome.TB %></td>
														<td><%= battingHome.RBI %></td>
														<td><%= battingHome.R %></td>
														<td><%= battingHome.SO %></td>
														<td><%= battingHome.BB %></td>
														<td><%= battingHome.IBB %></td>
														<td><%= battingHome.SF %></td>
														<td><%= battingHome.E %></td>
														<td>
															<% if battingHome.AB == 0  %>
																-.---
															<% else %>
																<%= '%.3f' % battingHome.AVG.round(3) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="17">未登錄主隊打擊數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllBattingHome.team_id.nil? %>
											<tfoot>
												<tr>
													<td colspan="2">Total</td>
													<td><%= @game_AllBattingHome.PA %></td>
													<td><%= @game_AllBattingHome.AB %></td>
													<td><%= @game_AllBattingHome.H %></td>
													<td><%= @game_AllBattingHome.B2 %></td>
													<td><%= @game_AllBattingHome.B3 %></td>
													<td><%= @game_AllBattingHome.HR %></td>
													<td><%= @game_AllBattingHome.TB %></td>
													<td><%= @game_AllBattingHome.RBI %></td>
													<td><%= @game_AllBattingHome.R %></td>
													<td><%= @game_AllBattingHome.SO %></td>
													<td><%= @game_AllBattingHome.BB %></td>
													<td><%= @game_AllBattingHome.IBB %></td>
													<td><%= @game_AllBattingHome.SF %></td>
													<td><%= @game_AllBattingHome.E %></td>
													<td>
														<% if @game_AllBattingHome.AB == 0  %>
															-.---
														<% else %>
															<%= '%.3f' % @game_AllBattingHome.AVG.round(3) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_pitchingAway">
							<div class="panel-heading panel-heading-pitching">
								<h4><%= @game_onegame.teamAwayName %> 投球成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_pitchingAway">
									<table class="table table-condensed" id="table_game_pitchingAway">
										<thead>
											<tr>
												<th>Player</th>
												<th>IP</th>
												<th>BAOpp</th>
												<th>H</th>
												<th>HR</th>
												<th>SO</th>
												<th>BB</th>
												<th>IBB</th>
												<th>R</th>
												<th>ER</th>
												<th>ERA5</th>
												<th>ERA7</th>
											</tr>
											<tr>
												<th>投手</th>
												<th>投球局數</th>
												<th>面對打席</th>
												<th>被安打數</th>
												<th>被全壘打數</th>
												<th>三振</th>
												<th>四壞</th>
												<th>故意</th>
												<th>失分</th>
												<th>自責</th>
												<th>五局防禦率</th>
												<th>七局防禦率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_PitchingAway.size != 0 %>
												<% @game_PitchingAway.each do |pitchingAway| %>
													<tr>
														<td><%= pitchingAway.player_id %></td>
														<td><%= '%.1f' % pitchingAway.IP.round(1) %></td>
														<td><%= pitchingAway.BAOpp %></td>
														<td><%= pitchingAway.H %></td>
														<td><%= pitchingAway.HR %></td>
														<td><%= pitchingAway.SO %></td>
														<td><%= pitchingAway.BB %></td>
														<td><%= pitchingAway.IBB %></td>
														<td><%= pitchingAway.R %></td>
														<td><%= pitchingAway.ER %></td>
														<td>
															<% if pitchingAway.IP == 0.0  %>
																<% if pitchingAway.ER == 0 %>
																	-.--
																<% else %>
																	∞
																<% end %>
															<% else %>
																<%= '%.2f' % pitchingAway.ERA5.round(2) %>
															<% end %>
														</td>
														<td>
															<% if pitchingAway.IP == 0.0  %>
																<% if pitchingAway.ER == 0 %>
																	-.--
																<% else %>
																	∞
																<% end %>
															<% else %>
																<%= '%.2f' % pitchingAway.ERA7.round(2) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="12">未登錄客隊投球數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllPitchingAway.team_id.nil? %>
											<tfoot>
												<tr>
													<td>Total</td>
													<td><%= '%.1f' % @game_AllPitchingAway.IP.round(1) %></td>
													<td><%= @game_AllPitchingAway.BAOpp %></td>
													<td><%= @game_AllPitchingAway.H %></td>
													<td><%= @game_AllPitchingAway.HR %></td>
													<td><%= @game_AllPitchingAway.SO %></td>
													<td><%= @game_AllPitchingAway.BB %></td>
													<td><%= @game_AllPitchingAway.IBB %></td>
													<td><%= @game_AllPitchingAway.R %></td>
													<td><%= @game_AllPitchingAway.ER %></td>
													<td>
														<% if @game_AllPitchingAway.IP == 0.0  %>
															<% if @game_AllPitchingAway.ER == 0 %>
																-.--
															<% else %>
																∞
															<% end %>
														<% else %>
															<%= '%.2f' % @game_AllPitchingAway.ERA5.round(2) %>
														<% end %>
													</td>
													<td>
														<% if @game_AllPitchingAway.IP == 0.0  %>
															<% if @game_AllPitchingAway.ER == 0 %>
																-.--
															<% else %>
																∞
															<% end %>
														<% else %>
															<%= '%.2f' % @game_AllPitchingAway.ERA7.round(2) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_pitchingHome">
							<div class="panel-heading panel-heading-pitching">
								<h4><%= @game_onegame.teamHomeName %> 投球成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_pitchingHome">
									<table class="table table-condensed" id="table_game_pitchingHome">
										<thead>
											<tr>
												<th>Player</th>
												<th>IP</th>
												<th>BAOpp</th>
												<th>H</th>
												<th>HR</th>
												<th>SO</th>
												<th>BB</th>
												<th>IBB</th>
												<th>R</th>
												<th>ER</th>
												<th>ERA5</th>
												<th>ERA7</th>
											</tr>
											<tr>
												<th>投手</th>
												<th>投球局數</th>
												<th>面對打席</th>
												<th>被安打數</th>
												<th>被全壘打數</th>
												<th>三振</th>
												<th>四壞</th>
												<th>故意</th>
												<th>失分</th>
												<th>自責</th>
												<th>五局防禦率</th>
												<th>七局防禦率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_PitchingHome.size != 0 %>
												<% @game_PitchingHome.each do |pitchingHome| %>
													<tr>
														<td><%= pitchingHome.player_id %></td>
														<td><%= '%.1f' % pitchingHome.IP.round(1) %></td>
														<td><%= pitchingHome.BAOpp %></td>
														<td><%= pitchingHome.H %></td>
														<td><%= pitchingHome.HR %></td>
														<td><%= pitchingHome.SO %></td>
														<td><%= pitchingHome.BB %></td>
														<td><%= pitchingHome.IBB %></td>
														<td><%= pitchingHome.R %></td>
														<td><%= pitchingHome.ER %></td>
														<td>
															<% if pitchingHome.IP == 0.0  %>
																<% if pitchingHome.ER == 0 %>
																	-.--
																<% else %>
																	∞
																<% end %>
															<% else %>
																<%= '%.2f' % pitchingHome.ERA5.round(2) %>
															<% end %>
														</td>
														<td>
															<% if pitchingHome.IP == 0.0  %>
																<% if pitchingHome.ER == 0 %>
																	-.--
																<% else %>
																	∞
																<% end %>
															<% else %>
																<%= '%.2f' % pitchingHome.ERA7.round(2) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="12">未登錄主隊投球數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllPitchingHome.team_id.nil? %>
											<tfoot>
												<tr>
													<td>Total</td>
													<td><%= '%.1f' % @game_AllPitchingHome.IP.round(1) %></td>
													<td><%= @game_AllPitchingHome.BAOpp %></td>
													<td><%= @game_AllPitchingHome.H %></td>
													<td><%= @game_AllPitchingHome.HR %></td>
													<td><%= @game_AllPitchingHome.SO %></td>
													<td><%= @game_AllPitchingHome.BB %></td>
													<td><%= @game_AllPitchingHome.IBB %></td>
													<td><%= @game_AllPitchingHome.R %></td>
													<td><%= @game_AllPitchingHome.ER %></td>
													<td>
														<% if @game_AllPitchingHome.IP == 0.0  %>
															<% if @game_AllPitchingHome.ER == 0 %>
																-.--
															<% else %>
																∞
															<% end %>
														<% else %>
															<%= '%.2f' % @game_AllPitchingHome.ERA5.round(2) %>
														<% end %>
													</td>
													<td>
														<% if @game_AllPitchingHome.IP == 0.0  %>
															<% if @game_AllPitchingHome.ER == 0 %>
																-.--
															<% else %>
																∞
															<% end %>
														<% else %>
															<%= '%.2f' % @game_AllPitchingHome.ERA7.round(2) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_fieldingAway">
							<div class="panel-heading panel-heading-fielding">
								<h4><%= @game_onegame.teamAwayName %> 守備成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_fieldingAway">
									<table class="table table-condensed" id="table_game_fieldingAway">
										<thead>
											<tr>
												<th>POS</th>
												<th>Player</th>
												<th>INN</th>
												<th>TC</th>
												<th>PO</th>
												<th>SO</th>
												<th>A</th>
												<th>E</th>
												<th>FPCT</th>
											</tr>
											<tr>
												<th>守備位置</th>
												<th>守備員</th>
												<th>守備局數</th>
												<th>守備機會</th>
												<th>刺殺</th>
												<th>三振</th>
												<th>助殺</th>
												<th>失誤</th>
												<th>守備率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_FieldingAway.size != 0 %>
												<% @game_FieldingAway.each do |fieldingAway| %>
													<tr>
														<td><%= fieldingAway.POS %></td>
														<td><%= fieldingAway.player_id %></td>
														<td><%= '%.1f' % fieldingAway.INN.round(1) %></td>
														<td><%= fieldingAway.TC %></td>
														<td><%= fieldingAway.PO %></td>
														<td><%= fieldingAway.K %></td>
														<td><%= fieldingAway.A %></td>
														<td><%= fieldingAway.E %></td>
														<td>
															<% if fieldingAway.TC == 0  %>
																-.---
															<% else %>
																<%= '%.3f' % fieldingAway.FPCT.round(3) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="9">未登錄客隊守備數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllFieldingAway.team_id.nil? %>
											<tfoot>
												<tr>
													<td colspan="3">Total</td>
													<td><%= @game_AllFieldingAway.TC %></td>
													<td><%= @game_AllFieldingAway.PO %></td>
													<td><%= @game_AllFieldingAway.K %></td>
													<td><%= @game_AllFieldingAway.A %></td>
													<td><%= @game_AllFieldingAway.E %></td>
													<td>
														<% if @game_AllFieldingAway.TC == 0  %>
															-.---
														<% else %>
															<%= '%.3f' % @game_AllFieldingAway.FPCT.round(3) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default" id="panel_game_fieldingHome">
							<div class="panel-heading panel-heading-fielding">
								<h4><%= @game_onegame.teamHomeName %> 守備成績</h4>
							</div>
							<div class="panel-body">
								<div class="table-responsive" id="div_game_fieldingHome">
									<table class="table table-condensed" id="table_game_fieldingHome">
										<thead>
											<tr>
												<th>POS</th>
												<th>Player</th>
												<th>INN</th>
												<th>TC</th>
												<th>PO</th>
												<th>SO</th>
												<th>A</th>
												<th>E</th>
												<th>FPCT</th>
											</tr>
											<tr>
												<th>守備位置</th>
												<th>守備員</th>
												<th>守備局數</th>
												<th>守備機會</th>
												<th>刺殺</th>
												<th>三振</th>
												<th>助殺</th>
												<th>失誤</th>
												<th>守備率</th>
											</tr>
										</thead>
										<tbody>
											<% if @game_FieldingHome.size != 0 %>
												<% @game_FieldingHome.each do |fieldingHome| %>
													<tr>
														<td><%= fieldingHome.POS %></td>
														<td><%= fieldingHome.player_id %></td>
														<td><%= '%.1f' % fieldingHome.INN.round(1) %></td>
														<td><%= fieldingHome.TC %></td>
														<td><%= fieldingHome.PO %></td>
														<td><%= fieldingHome.K %></td>
														<td><%= fieldingHome.A %></td>
														<td><%= fieldingHome.E %></td>
														<td>
															<% if fieldingHome.TC == 0  %>
																-.---
															<% else %>
																<%= '%.3f' % fieldingHome.FPCT.round(3) %>
															<% end %>
														</td>
													</tr>
												<% end %>
											<% else %>
												<tr>
													<td colspan="9">未登錄主隊守備數據<td>
												</tr>
											<% end %>
										</tbody>
										<% if !@game_AllFieldingHome.team_id.nil? %>
											<tfoot>
												<tr>
													<td colspan="3">Total</td>
													<td><%= @game_AllFieldingHome.TC %></td>
													<td><%= @game_AllFieldingHome.PO %></td>
													<td><%= @game_AllFieldingHome.K %></td>
													<td><%= @game_AllFieldingHome.A %></td>
													<td><%= @game_AllFieldingHome.E %></td>
													<td>
														<% if @game_AllFieldingHome.TC == 0  %>
															-.---
														<% else %>
															<%= '%.3f' % @game_AllFieldingHome.FPCT.round(3) %>
														<% end %>
													</td>
												</tr>
											</tfoot>
										<% end %>
									</table>
								</div>
							</div>
							<!--/panel-body-->
						</div>
						<!--/panel-->
					</div>
				</div>
			<% end %>
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
</section>